.icons .icon{
  height:50px;
  width:50px;
  display:block;
}

ul.icons li{
  background-size:contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding:0px;
  margin:5px;
}

footer span{
  font-size: 12px;
}

.video{
  cursor: pointer;
}

#video{
    min-width: 320px;
    margin:0 auto;
}

@media screen and (min-width:320px) and (max-width:768px)
{
  #video{
    width:100%;
  }
}
