.icons .icon{
  height:50px;
  width:50px;
  display:block;
}

ul.icons li{
  background-size:contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding:0px;
  margin:5px;
}

footer span{
  font-size: 12px;
}

.video{
  cursor: pointer;
}

#video{
    min-width: 320px;
    margin:0 auto;
}

@media screen and (min-width:320px) and (max-width:768px)
{
  #video{
    width:100%;
  }
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: #4ba2c4; /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.25s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 0px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}
.overlay p {
    text-align: center;
    color:black;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* Digital Stores buttons on overlay page*/

.button {
  border-radius: 4px;
  background-color:#ff0220;
  border: none;
  color: #ffffff;
  text-align: center;
  
  font-size: 28px;
  padding: 20px;
  width: 240px;
  height: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  
}

.button:hover span:after {
  opacity: 1;
  right: 0;
 
}
.button:hover {
 background-color: #3e8e41;
}

h2{

color: red;
margin: 10px;
font-size: 30px;

}
.social
{
  float:right;
  width:100%;
  height:auto;
}
.img-responsive{
  max-width: 100%;
  height: auto;
}